In [1]:
sentence="her cat name is Luna"

In [2]:
lower_Sentence=sentence.lower()

In [3]:
print(lower_Sentence)

her cat name is luna

In [4]:
# REMOVING STOP WORDS and,of,a,to
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Kirat\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [6]:
en_stopwords=stopwords.words('english')

In [7]:
print(en_stopwords)

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

In [8]:
sentence= "it was to far to going to the shop and he did not want her to talk"

In [9]:
sentence_no_stopwords=' '.join([word for word in sentence.split() if word not in en_stopwords])

In [11]:
print(sentence_no_stopwords)

far going shop want talk

In [12]:
#regex is a special way of writing patterns to search through text.
import re

In [14]:
#\n new line
my_folder=r"C:\desktop\notes"
print(my_folder)

C:\desktop\notes

In [15]:
#\n treat as a new line but with the r infront of the text it willnot consider it as a new line. print out of it as same line.
result_search=re.search("pattern",r"string to contain the pattern")

In [16]:
print(result_search)

<re.Match object; span=(22, 29), match='pattern'>

In [17]:
# re.sub() specific text with in a string and replace it with new content.
# re.sub("old text","new text","the string.")
string=r"sara was able to help me find the items i needed quickly"

In [18]:
new_string=re.sub("sara","Sarah",string)
print(new_string)

Sarah was able to help me find the items i needed quickly

In [ ]:
#"r^a matches the string that start wiyth the letter a."

In [19]:
customer_reviews=[
    "sam was a grets help to me in the storte",
    "the Cashier was rude to me , I thinh her name was eleanor",
    "amazing wirk from sadeen !",
    "sarah was able to help me find the items I needed quickly",
    "lucy is such a great addition to the team",
    "great service from sara she found me what i wanted"]

In [ ]:
# review start with teh letter a
a_review=[]
pattern_to_find= r"^a"

for string in customer_reviews:
    if(re.search(pattern_to_find ,string)):
        a_review.append(string)

In [21]:
print(a_review)

['amazing wirk from sadeen !']

In [22]:
# review ends with teh letter y
y_review=[]
pattern_to_find= r"y$"

for string in customer_reviews:
    if(re.search(pattern_to_find ,string)):
        y_review.append(string)

In [23]:
print(y_review)

['sarah was able to help me find the items I needed quickly']

In [27]:
# match either neede or wanted "r(need|want)ed"
needwant_review=[]
pattern_to_find= r"(need|want)ed"

for string in customer_reviews:
    if(re.search(pattern_to_find ,string)):
        needwant_review.append(string)

In [28]:
print(needwant_review)

['sarah was able to help me find the items I needed quickly', 'great service from sara she found me what i wanted']

In [29]:
#removing punctautions.
no_punct_reviews=[]
pattern_to_find = r"[^\w\s]"
#[] define ste of character we want to match
# ^ not , \w word charactres, \s whitespaces

In [30]:
for string in customer_reviews:
    no_punct_string=re.sub(pattern_to_find, "", string)
    no_punct_reviews.append(no_punct_string)

In [32]:
print(no_punct_reviews)

['sam was a grets help to me in the storte', 'the Cashier was rude to me  I thinh her name was eleanor', 'amazing wirk from sadeen ', 'sarah was able to help me find the items I needed quickly', 'lucy is such a great addition to the team', 'great service from sara she found me what i wanted']

In [33]:
# Tkenization break text into smaller units
import nltk
nltk.download('punkt_tab')
from nltk.tokenize import word_tokenize , sent_tokenize

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\Kirat\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

In [34]:
sentence="her cat name is luna, Her dog's name is jatt"

In [35]:
sent_tokenize(sentence)

["her cat name is luna, Her dog's name is jatt"]

In [36]:
sentence_1="her cat's name is is Luna"
word_tokenize(sentence_1)

['her', 'cat', "'s", 'name', 'is', 'is', 'Luna']

In [37]:
#stemming-> reduce word to their base word connected, connecting to connect
# studies to stud.
from nltk.stem import PorterStemmer

In [38]:
ps=PorterStemmer()

In [39]:
connect_tokens=['connecting', 'connected', 'connectivity','connect','connects']

In [40]:
for t in connect_tokens:
    print(t, ": ", ps.stem(t))

connecting :  connect
connected :  connect
connectivity :  connect
connect :  connect
connects :  connect

In [43]:
learn_tokens =['learned','learning','learn','learns','learner','learners']

In [44]:
for t in learn_tokens:
    print(t, ": ", ps.stem(t))

learned :  learn
learning :  learn
learn :  learn
learns :  learn
learner :  learner
learners :  learner

In [45]:
#lemmatization reduces a word to a meaningful base form while preserving its meaning
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Kirat\AppData\Roaming\nltk_data...

In [46]:
lemmatizer = WordNetLemmatizer()

In [47]:
for t in connect_tokens:
    print(t, ": ", lemmatizer.lemmatize(t))

connecting :  connecting
connected :  connected
connectivity :  connectivity
connect :  connect
connects :  connects

In [48]:
#Ngrams  analyze relationship between the neighbours word
# N=1 unigram
#n=2 bigrams
#n=3 trigrams
import pandas as pd
import matplotlib.pyplot as plt

In [50]:
tokens= ['the','risse','of','artificila','intelligence']
print(tokens)

['the', 'risse', 'of', 'artificila', 'intelligence']

In [ ]:
#unigram=(Pd.Series(nltk.ngrams(tokens, 1)).value_counts())

In [51]:
data=pd.read_csv('tripadvisor_hotel_reviews.csv')

In [52]:
data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  109 non-null    object
 1   Rating  109 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

In [54]:
data["Review"][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews did valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe just noisy neighbors, aveda bath products nice, did not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience having pay 40 parking night,  '

In [55]:
data['Review_lowercase']=data['Review'].str.lower()

In [56]:
data.head()

                                              Review  ...                                   Review_lowercase
0  nice hotel expensive parking got good deal sta...  ...  nice hotel expensive parking got good deal sta...
1  ok nothing special charge diamond member hilto...  ...  ok nothing special charge diamond member hilto...
2  nice rooms not 4* experience hotel monaco seat...  ...  nice rooms not 4* experience hotel monaco seat...
3  unique, great stay, wonderful time hotel monac...  ...  unique, great stay, wonderful time hotel monac...
4  great stay great stay, went seahawk game aweso...  ...  great stay great stay, went seahawk game aweso...

[5 rows x 3 columns]

In [ ]:
en_stopwords=stopwords.words('english')

In [57]:
en_stopwords.remove("not")

In [60]:
data['review_no_stopwords']=data['Review_lowercase'].apply(lambda x: ' '.join([word for word in x.split() if word not in (en_stopwords)]))

In [61]:
data['review_no_stopwords'][0]

'nice hotel expensive parking got good deal stay hotel anniversary, arrived late evening took advice previous reviews valet parking, check quick easy, little disappointed non-existent view room room clean nice size, bed comfortable woke stiff neck high pillows, not soundproof like heard music room night morning loud bangs doors opening closing hear people talking hallway, maybe noisy neighbors, aveda bath products nice, not goldfish stay nice touch taken advantage staying longer, location great walking distance shopping, overall nice experience pay 40 parking night,'

In [63]:
data['review_no_stopwords_no_punct']=data.apply(lambda x: re.sub(r"[*]","star", x['review_no_stopwords']),axis=1)

In [64]:
data.head()

                                              Review  ...                       review_no_stopwords_no_punct
0  nice hotel expensive parking got good deal sta...  ...  nice hotel expensive parking got good deal sta...
1  ok nothing special charge diamond member hilto...  ...  ok nothing special charge diamond member hilto...
2  nice rooms not 4* experience hotel monaco seat...  ...  nice rooms not 4star experience hotel monaco s...
3  unique, great stay, wonderful time hotel monac...  ...  unique, great stay, wonderful time hotel monac...
4  great stay great stay, went seahawk game aweso...  ...  great stay great stay, went seahawk game aweso...

[5 rows x 5 columns]

In [65]:
data['review_no_stopwords_no_punct'] = data.apply(lambda x: re.sub(r"([^\w\s])","", x['review_no_stopwords_no_punct']),axis=1)

In [66]:
data.head()

                                              Review  ...                       review_no_stopwords_no_punct
0  nice hotel expensive parking got good deal sta...  ...  nice hotel expensive parking got good deal sta...
1  ok nothing special charge diamond member hilto...  ...  ok nothing special charge diamond member hilto...
2  nice rooms not 4* experience hotel monaco seat...  ...  nice rooms not 4star experience hotel monaco s...
3  unique, great stay, wonderful time hotel monac...  ...  unique great stay wonderful time hotel monaco ...
4  great stay great stay, went seahawk game aweso...  ...  great stay great stay went seahawk game awesom...

[5 rows x 5 columns]

In [67]:
data['tokenized']=data.apply(lambda x: word_tokenize(x['review_no_stopwords_no_punct']),axis=1)

In [68]:
data['tokenized'][0]

['nice',
 'hotel',
 'expensive',
 'parking',
 'got',
 'good',
 'deal',
 'stay',
 'hotel',
 'anniversary',
 'arrived',
 'late',
 'evening',
 'took',
 'advice',
 'previous',
 'reviews',
 'valet',
 'parking',
 'check',
 'quick',
 'easy',
 'little',
 'disappointed',
 'nonexistent',
 'view',
 'room',
 'room',
 'clean',
 'nice',
 'size',
 'bed',
 'comfortable',
 'woke',
 'stiff',
 'neck',
 'high',
 'pillows',
 'not',
 'soundproof',
 'like',
 'heard',
 'music',
 'room',
 'night',
 'morning',
 'loud',
 'bangs',
 'doors',
 'opening',
 'closing',
 'hear',
 'people',
 'talking',
 'hallway',
 'maybe',
 'noisy',
 'neighbors',
 'aveda',
 'bath',
 'products',
 'nice',
 'not',
 'goldfish',
 'stay',
 'nice',
 'touch',
 'taken',
 'advantage',
 'staying',
 'longer',
 'location',
 'great',
 'walking',
 'distance',
 'shopping',
 'overall',
 'nice',
 'experience',
 'pay',
 '40',
 'parking',
 'night']

In [69]:
ps=PorterStemmer()

In [70]:
data['stemmed']=data['tokenized'].apply(lambda tokens: [ps.stem(token) for token in tokens])

In [71]:
data.head()

                                              Review  ...                                            stemmed
0  nice hotel expensive parking got good deal sta...  ...  [nice, hotel, expens, park, got, good, deal, s...
1  ok nothing special charge diamond member hilto...  ...  [ok, noth, special, charg, diamond, member, hi...
2  nice rooms not 4* experience hotel monaco seat...  ...  [nice, room, not, 4star, experi, hotel, monaco...
3  unique, great stay, wonderful time hotel monac...  ...  [uniqu, great, stay, wonder, time, hotel, mona...
4  great stay great stay, went seahawk game aweso...  ...  [great, stay, great, stay, went, seahawk, game...

[5 rows x 7 columns]

In [72]:
lemmatizer=WordNetLemmatizer()

In [73]:
data['lemmatized'] = data['tokenized'].apply(lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])

In [74]:
data['lemmatized'][0]

['nice',
 'hotel',
 'expensive',
 'parking',
 'got',
 'good',
 'deal',
 'stay',
 'hotel',
 'anniversary',
 'arrived',
 'late',
 'evening',
 'took',
 'advice',
 'previous',
 'review',
 'valet',
 'parking',
 'check',
 'quick',
 'easy',
 'little',
 'disappointed',
 'nonexistent',
 'view',
 'room',
 'room',
 'clean',
 'nice',
 'size',
 'bed',
 'comfortable',
 'woke',
 'stiff',
 'neck',
 'high',
 'pillow',
 'not',
 'soundproof',
 'like',
 'heard',
 'music',
 'room',
 'night',
 'morning',
 'loud',
 'bang',
 'door',
 'opening',
 'closing',
 'hear',
 'people',
 'talking',
 'hallway',
 'maybe',
 'noisy',
 'neighbor',
 'aveda',
 'bath',
 'product',
 'nice',
 'not',
 'goldfish',
 'stay',
 'nice',
 'touch',
 'taken',
 'advantage',
 'staying',
 'longer',
 'location',
 'great',
 'walking',
 'distance',
 'shopping',
 'overall',
 'nice',
 'experience',
 'pay',
 '40',
 'parking',
 'night']

In [75]:
tokens_clean = sum(data['lemmatized'], [])

In [77]:
unigrams=(pd.Series(nltk.ngrams(tokens_clean, 1)).value_counts())
print(unigrams)

(hotel,)           292
(room,)            275
(great,)           126
(not,)             122
(stay,)             95
                  ...
(singaporewe,)       1
(australian,)        1
(australiaour,)      1
(exception,)         1
(nightyou,)          1
Name: count, Length: 2589, dtype: int64

In [78]:
Bigrams=(pd.Series(nltk.ngrams(tokens_clean, 2)).value_counts())
print(Bigrams)

(great, location)          24
(space, needle)            21
(hotel, monaco)            16
(staff, friendly)          12
(pike, place)              12
                           ..
(looking, decorated)        1
(decorated, maintained)     1
(maintained, staff)         1
(professional, large)       1
(food, raffle)              1
Name: count, Length: 8263, dtype: int64