In [16]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
import spacy
import re
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv('bbc_news.csv')

In [3]:
data.head()

   Unnamed: 0  ...                                        description
0           0  ...  With much of the UK enduring another period of...
1           1  ...  The UK's political chaos has been watched arou...
2           2  ...  Scoraig in the north west Highlands has long h...
3           3  ...  Wealthy Russians sanctioned by the US, EU and ...
4           4  ...  A quick look back at the Queen's 70 years on t...

[5 rows x 7 columns]

In [5]:
title=pd.DataFrame(data['title'])
title.head()

                                               title
0                              Can I refuse to work?
1  'Liz Truss the Brief?' World reacts to UK poli...
2  Rationing energy is nothing new for off-grid c...
3  The hunt for superyachts of sanctioned Russian...
4  Platinum Jubilee: 70 years of the Queen in 70 ...

CLEAN DATA

In [7]:
title['Lowercase']=title['title'].str.lower()
title.head()

                                               title                                          Lowercase
0                              Can I refuse to work?                              can i refuse to work?
1  'Liz Truss the Brief?' World reacts to UK poli...  'liz truss the brief?' world reacts to uk poli...
2  Rationing energy is nothing new for off-grid c...  rationing energy is nothing new for off-grid c...
3  The hunt for superyachts of sanctioned Russian...  the hunt for superyachts of sanctioned russian...
4  Platinum Jubilee: 70 years of the Queen in 70 ...  platinum jubilee: 70 years of the queen in 70 ...

In [8]:
en_stopwords=set(stopwords.words('english'))
title['No_Stopwords']=title['Lowercase'].apply(lambda x: ' '.join([word for word in x.split() if word not in en_stopwords]))
title.head()

                                               title  ...                                       No_Stopwords
0                              Can I refuse to work?  ...                                       refuse work?
1  'Liz Truss the Brief?' World reacts to UK poli...  ...  'liz truss brief?' world reacts uk political t...
2  Rationing energy is nothing new for off-grid c...  ...    rationing energy nothing new off-grid community
3  The hunt for superyachts of sanctioned Russian...  ...      hunt superyachts sanctioned russian oligarchs
4  Platinum Jubilee: 70 years of the Queen in 70 ...  ...        platinum jubilee: 70 years queen 70 seconds

[5 rows x 3 columns]

In [10]:
#Punctuation removed
title['No_stopwords_no_punc']=title.apply(lambda x:re.sub(r'[^\w\s]','',x['No_Stopwords']),axis=1)

In [19]:
#tokenize
title['tokens_raw']=title.apply(lambda x: word_tokenize(x['title']),axis=1)
title['tokens_clean']=title.apply(lambda x: word_tokenize(x['No_stopwords_no_pinc']),axis=1)

In [20]:
title.head()

                                               title  ...                                       tokens_clean
0                              Can I refuse to work?  ...                                     [refuse, work]
1  'Liz Truss the Brief?' World reacts to UK poli...  ...  [liz, truss, brief, world, reacts, uk, politic...
2  Rationing energy is nothing new for off-grid c...  ...  [rationing, energy, nothing, new, offgrid, com...
3  The hunt for superyachts of sanctioned Russian...  ...  [hunt, superyachts, sanctioned, russian, oliga...
4  Platinum Jubilee: 70 years of the Queen in 70 ...  ...  [platinum, jubilee, 70, years, queen, 70, seco...

[5 rows x 9 columns]

In [22]:
#Lemmatizer
lemmatizer=WordNetLemmatizer()
title['Lemmatized']=title['token_clean'].apply(lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])

In [23]:
title.head()

                                               title  ...                                         Lemmatized
0                              Can I refuse to work?  ...                                     [refuse, work]
1  'Liz Truss the Brief?' World reacts to UK poli...  ...  [liz, truss, brief, world, reacts, uk, politic...
2  Rationing energy is nothing new for off-grid c...  ...  [rationing, energy, nothing, new, offgrid, com...
3  The hunt for superyachts of sanctioned Russian...  ...  [hunt, superyachts, sanctioned, russian, oliga...
4  Platinum Jubilee: 70 years of the Queen in 70 ...  ...   [platinum, jubilee, 70, year, queen, 70, second]

[5 rows x 10 columns]

In [ ]:
token_raw_list=sum(title['tokens_raw'],[])
token_clean_list=sum(title['tokens_clean'],[])
# give the unproccessed data for comparison

POS TAGGING

In [25]:
nlp=spacy.load('en_core_web_sm')

In [26]:
spacy_doc=nlp(' '.join(token_raw_list))

In [37]:
pos_df=pd.DataFrame(columns=['Token','POS'])
for token in spacy_doc:
    pos_df=pd.concat([pos_df,
    pd.DataFrame.from_records([{'Token':token.text,'POS':token.pos_}])],ignore_index=True)

In [38]:
print(pos_df)

           Token    POS
0            Can    AUX
1              I   PRON
2         refuse   VERB
3             to   PART
4           work   VERB
...          ...    ...
11742       sale   NOUN
11743      scams   NOUN
11744          ,  PUNCT
11745  consumers   NOUN
11746     warned   VERB

[11747 rows x 2 columns]

In [41]:
pos_df_counts=pos_df.groupby(['token','pos_tag']).size().reset_index(name='Counts').sort_values(by='Counts',ascending=False)
pos_df_counts.head(10)

KeyError: 'token'